
.container {
	display: inline-block;
	width:120px;
	height: 150px;
	margin: 5px;
}



.box1 {
	height: 100px;
	width: 100px;
	margin: 10px 5px;
	background: no-repeat;	
	
}




.box2 {
	height: 20px;
	width: 100px;
	text-align: center;
	margin: 5px;
	background: no-repeat;
	background: red;

}