
.container {
}



.box1 {
	height: 100px;
	width: 100px;
	display: inline-block;
	margin: 10px 5px;
	background: no-repeat;	
	
}








.box2 {
	height: 20px;
	width: 100px;
	display: inline-block;
	text-align: center;
	margin: 5px;
	background: no-repeat;
	background: red;

}